  <div class="container my-4">
    <!-- Carousel -->
    <div id="subImageCarousel" class="carousel slide mb-3 " data-bs-ride="carousel">
      <div class="carousel-inner rounded-3 ">
        <div class="carousel-item active">
          <img src="../../../../assets/Images/Alexandria-City-Egypt-Egypt-Tours-Portal.jpg" class="d-block w-100" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/Images/Alexandria-City-Egypt-Egypt-Tours-Portal.jpg" class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/Images/Alexandria-City-Egypt-Egypt-Tours-Portal.jpg" class="d-block w-100" alt="Image 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#subImageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#subImageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  
    <!-- Toggle Button -->
    <button class="btn btnToggle mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#descriptionCollapse">
      <i class="fa-solid fa-plus"></i>
      Show Description
    </button>
    
  
    <!-- Collapsible Paragraph -->
    <div class="collapse" id="descriptionCollapse">
      <div class="card card-body">
        Take a scenic road trip from Cairo to Alexandria with Egypt Knight and uncover the treasures of Egypt’s stunning Mediterranean city. This journey is a perfect blend of history, culture, and breathtaking coastal views.

Visit the legendary Great Library of Alexandria, once the world’s most renowned center of knowledge. Stand in awe at Pompey’s Pillar, a towering Roman monument, and explore the Catacombs of Kom El-Shoqafa, an underground necropolis filled with stunning carvings and ancient secrets.
      </div>
    </div>
  </div>