
<footer class="bg-dark  py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="d-flex align-items-center mb-3">
            <img src="assets/Images/logo.png" alt="Sable d'Egypte Tours Logo" width="50px">
            <span class="logo-text ms-2 text-white">Sable d'Egypte Tours</span>
          </div>
          <p class="footerp text-white">Welcome to our Trip and Tour Agency.</p>
          <p class="footerp text-white">Lorem simply text arnet cing elit.</p>
          <hr class="d-lg-none text-bg-danger">
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0  ">
            <h6 class="mb-3 logo-text text-white">Navigation</h6>
            <ul class="list-unstyled navigationlikns ">
              <li class="mb-2">
                <a href="#" class=" fw-medium text-decoration-none nav-link-hover">
                  <span>Home</span>
                </a>
              </li>
              <li class="mb-2">
                <a href="#" class=" fw-medium text-decoration-none nav-link-hover">
                  <span>Trips</span>
                </a>
              </li>
              <li class="mb-2">
                <a href="#" class=" fw-medium text-decoration-none nav-link-hover">
                  <span>About us</span>
                </a>
              </li>
              <li class="mb-2">
                <a href="#" class=" fw-medium text-decoration-none nav-link-hover">
                  <span>Contact Us</span>
                </a>
              </li>
            </ul>
            <hr class="d-lg-none text-bg-danger">
          </div>
    
        <div class="col-lg-2 text-white">
          <h6 class="logo-text  text-white mb-3">Contact</h6>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-2">
            <i class="fa-solid fa-phone text-white"></i>
              <span class=" fw-medium ms-2">+201116113588</span>
            </li>
            <li class="d-flex align-items-center mb-2">
                <i class="fa-solid fa-envelope text-white"></i>
              <span class="fw-medium ms-2">needhelpcompany.com</span>
            </li>
         
          </ul>
          <hr class="d-lg-none text-bg-danger">

        </div>

        <div class="socilalinks col-lg-3 mb-4 mb-lg-0  ">
            <h6 class=" mb-3 logo-text text-white ">Social Links</h6>

     
            <div class="d-flex gap-3">
                <div class="facebook d-flex justify-content-center align-items-center text-white">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="facebook d-flex justify-content-center align-items-center text-white">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="facebook d-flex justify-content-center align-items-center text-white">
                    <i class="fa-brands fa-instagram"></i>
                            </div>
            </div>
        </div>
        
      </div>
    </div>
  </footer>
