
<section class="d-flex justify-content-center align-items-center guide">

  <div class="info ">
      <h2  class="bg-info px-5 py-2 rounded-3 text-white ">Egypt Travel Guide!</h2>
 
    
        
  </div>
</section>

<section>
    <div class="container my-5">
   <h2 class="text-center mb-3 fw-bold text-info">Seasons</h2>
      <hr class="border-top border-success border-2 w-25 mx-auto mb-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100 rounded-4 shadow-sm">
        <img src="../../../../assets/Images/descente-du-nil-en-sandal-egypte-coston-jean-pierre-24921 (1).jpg" class="card-img-top rounded-top-4" alt="Felucca on the Nile in Winter">
        <div class="card-body">
          <h5 class="card-title fw-bold text-info">Winter</h5>
          <p class=" text-black">The generally preferred time to visit Egypt is winter, which runs from October to April-May. However, it should be noted that the climate can vary considerably depending on the region..</p>
          <p class=" text-black">Egypt's northern coast enjoys a Mediterranean climate, while the central and southern interior regions are characterized by a desert climate. The Red Sea coast also has a desert climate, but it is slightly milder.</p>
          <p class=" text-black">The ideal time to visit Egypt would be from November to April, when the mild winter sets in. Temperatures are usually pleasant, rarely falling below 10°C. However, it is important to research the weather conditions specific to the region you plan to visit, as there may be variations and climatic nuances to consider.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 rounded-4 shadow-sm">
        <img src="../../../../assets/Images/pyramides-de-gizeh-en-egypte-breckwoldt-dan-24762.jpg" class="card-img-top rounded-top-4" alt="Pyramids in the Summer Heat">
        <div class="card-body">
          <h5 class="card-title fw-bold text-warning">Summer</h5>
          <p class="text-black">De mai à septembre, le reste de l'année en Égypte est caractérisé par la saison chaude qui s'installe.
</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

