
<section class="d-flex justify-content-center align-items-center guide">

  <div class="info ">
      <h2  class="bg-info px-5 py-2 rounded-3 text-white ">Egypt Travel Guide!</h2>
 
    
        
  </div>
</section>


<section>
    <div class="container my-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="text-center mb-3 fw-bold text-info">Egypt in a few words</h2>
      <hr class="border-top border-success border-2 w-25 mx-auto mb-4">
      <p class=" mb-4">
        Ancient Egypt holds an undeniable fascination, and visiting this country is an unmissable experience for anyone interested in the history of civilizations. From Nefertiti to Cleopatra, from Tutankhamun to Ramses II... The mere listing of these names is enough to arouse the desire to travel to the land of the pharaohs. Cairo, Alexandria, Luxor, Karnak, Abu Simbel: these evocative names fire our imagination. But beyond the fabulous wealth of the temples, eternal Egypt reveals many treasures. Sail up the slow and majestic course of the Nile, this emblematic river, stay with the locals, mingle with the crowds in the souks, meet the Egyptian people over a cup of tea or carcade
      </p>
      <p class="text-center fst-italic mb-4 bg-info text-black p-2 fw-bold">
      So many moments that allow you to appreciate this country, a subtle blend of East and West, old and new..
      </p>
      <p>
        Our in-depth knowledge of Egypt's terrain allows us to offer adventures tailored to each individual, led by some of the best guides in the world (according to our travelers themselves!). Whether on foot, by felucca, sandal, 4x4, or dahabieh, we have access to the most spectacular regions as well as the most remote. Your trip to Egypt is sure to be memorable!

    </p>
    </div>
  </div>
</div>
</section>