  <div class="container mt-5">
       
    <div class="Commentform w-50  mx-auto p-5 rounded-4  mb-4">
            <form>
            
            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label fw-bold">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            
            <div class="mb-3">
                <label for="comment" class="form-label fw-bold">Comment</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Enter your comment"></textarea>
            </div>
            
            <div class="mb-3">
                <label for="rating" class="form-label fw-bold">Rating (1-10)</label>
                <input type="number" class="form-control" id="rating" placeholder="Enter your rating" min="1" max="10">
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label fw-bold">Image</label>
                <input type="file" class="form-control" id="image">
            </div>
            
            <div class="">
                 <button type="submit" class="btn text-white fw-bold submicomment">Submit</button>
            </div>
        </form>
    </div>
    </div>