<section class="py-3 mt-5">
    <div class="container">
  <div class="row g-4 align-items-start">
    <!-- Image -->
    <div class="col-md-4 text-center">
      <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D" alt="Samir Abbas" class="team-photo">
    </div>

    <!-- Our Team -->
    <div class="col-md-4">
      <div class="section-title">Our Team</div>
      <p class="fw-bold bg-info py-2 px-2"> Mohamed Saad CEO and Founder</p>
      <p>Mohamed is a PHD history candidate at UPF Barcelona. He graduated with a master’s degree in world history from UPF. He holds three university degrees: one in Egyptology, one in Tourism, and one in Agriculture Sciences.</p>
      <p>He is a dedicated environmentalist since 1994, a former basketball player...</p>
    </div>

    <!-- Our Passion -->
    <div class="col-md-4">
      <div class="section-title">Our Passion</div>
      <p class="text-block">

        We want to give you the ultimate experience of Egypt that connects you to the history, culture, and people, so you feel that you have done far more than just visited the sights.
      </p>
      <p class="text-block">
        Real Egypt can provide a personalised travel plan. We are dedicated to creating the best possible itinerary for you. We do not try to squeeze too much into a few hours. We allow time to absorb each place, and your tour...
      </p>
    </div>
  </div>
</div>
</section>
